.input-group-text.minus {
    background-color: #E74C3C;
    color: #FFFFFF;
    font-weight: bold;
}

.input-group-text.plus {
    background-color: #1ABC9C;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}